<!doctype html>
<title>Etherpty - realtime</title>
<!--
  term.js
  Copyright (c) 2012-2013, Christopher Jeffrey (MIT License)
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

-->
<style>
  html {
    background: black;
    font-size: 30
  }
  h1 {
    margin-bottom: 20px;
    font: 20px/1.5 sans-serif;
  }
  .terminal {
    width:98%;
    font-size:14px;
  }

</style>
<script src="/js/term.js"></script>
<script src="/js/etherpty.js"></script>
<script>

window.onload = (function() {
    var token = "<%= token%>";
    var clientMeta = new etherpty("meta");
    var clientIO = new etherpty("IO");

    var term = new Terminal({
            cols: 80,
            rows: 24,
            useStyle: true,
            screenKeys: true
    });
    var url = '<%= url%>';

    clientMeta.connect(url + "/pty/meta/" + token, "etherpty-protocol");
    clientMeta.on("connect", function(meta) {
      term.open(document.body);
      term.write('\x1b[31mWelcome to etherpty!\x1b[m\r\n');
      term.write('\r\n\x1b[31mconnect to remote terminal.\x1b[m\r\n');


      meta.sendMessage({type:"join", token:token});

      meta.on("resize", function(data) {
        var data = data.data.data;
        term.resize(data.col, data.row);
      });

      meta.on("exit", function() {
        term.write('\r\n\x1b[31mremote terminal exit.\x1b[m\r\n');
      });

      // meta.close("close", function() {
      //   //term.write('\r\n\x1b[31mremote terminal exit.\x1b[m\r\n');
      // });

      meta.on("error", function(data) {
        term.write('\r\n\x1b[31m' + data.message + '.\x1b[m\r\n');
      });

      meta.on("join", function(data) {
        var size = data.size;
        term.resize(size[0], size[1]);

        clientIO.connect(url + "/pty/io/client/" + token, "etherpty-protocol");
        clientIO.on("connect", function(io) {
          term.write('\r\n\x1b[31mconnect successfully.\x1b[m\r\n\r\n');
          
          term.on('data', function(data) {
            io.send(data);
          });

          term.on('title', function(title) {
            document.title = title;
          });

          io.on("message", function(message) {
            term.write(message.data);
          });
        });
      })
    });
}).call(this);
</script>
